 /* Custom styles for Data Entry page and navigation */


 .wizard-container{
   padding: 0;
   margin: 0 15px;
 }

 .wizard-card{
   margin: 5px 0;
 }
 
 .wizard-card .wizard-header h5{
   font-size: 0.8em;
 }

 .tab-pane .score{
   margin: 0 10px;
 }

 @media (min-width: 992px){
  .card form [class*="col-"]:first-child {
    padding: 6px;
  }
 }

 .form-group label.control-label{
   color: #09b2c7;
   font-weight: bold;
 }

 .footer{
   position: static;
   margin: 0;
   color: #333;
 }